/* Main elements */
body {
  font-family: Arial, sans-serif;
}

fieldset {
  margin: 0.2em;
}

/* Basic utility classes */
.hidden {
  display: none;
}

#error {
  text-align: center;
  color: #b01;
}

.error-secondary {
  font-size: 0.6em;
}
