/* Main elements */
body {
  font-family: Arial, sans-serif;
}

fieldset {
  margin: 0.2em;
}

fieldset .row:not(:last-child) {
  margin-bottom: 0.2em;
}

label.error {
  margin-left: 0.2em;
}

/* Basic utility classes */
.margin-top {
  margin-top: 0.2em;
}

.hidden {
  display: none;
}

#error {
  text-align: center;
}

.error {
  color: #b01;
}

.error-secondary {
  font-size: 0.6em;
}
