/* Main elements */
body {
  font-family: Arial, sans-serif;
}

fieldset {
  margin: 0.2em;
}

fieldset .row:not(:last-child) {
  margin-bottom: 0.2em;
}

label.error {
  margin-left: 0.2em;
}

input {
  font-family: monospace;
}

input:invalid {
  border: red solid 1px;
}

#main-status {
  margin-top: 1em;
}

#attrib-entries {
  display: inline-block;
}

.attrib-entry label {
  margin-right: 0.2em;
}

#attrib-input {
  height: 8em; /* TODO depend on parent height */
  width: 40%;
}

.button-row button {
  margin: 0.2em;
}

.info {
  font-size: 0.8em;
}

/* Basic utility classes */
.margin-top {
  margin-top: 0.2em;
}

.hidden {
  display: none;
}

#error {
  text-align: center;
}

.success {
  color: forestgreen;
}

.error {
  color: #b01;
}

.error-secondary {
  font-size: 0.6em;
}
